<ActionBar class="action-bar" width="100%">
  <GridLayout columns="auto,*,auto" rows="*" width="100%">
    <Button row="0" col="0" class="button" height="50" width="50" textAlignment="center" (tap)="backToLogin()" text="&#xf060;" fontFamily="FontAwesome">
    </Button>
    <Label row="0" col="1" class="action-bar-title" [text]="'Settings'" horizontalAlignment="left"></Label>
  </GridLayout>
</ActionBar>
<GridLayout class="login" rows="*" columns="*">
  <WebView row="0" col="0" #myWebView>
  </WebView>
</GridLayout>
