<MyDrawer #myDrawer [pages]="navItemObj$ | async">
    <ng-template #optionTemplate>
        <my-header [title]="'Taxes'" [leftSideItem]="{ icon:'menu', action: toggleDrawer.bind(this) }"></my-header>

        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let item of (taxList$ | async)" [routerLink]="['/settings','create-taxes', item.uniqueName]">
                        {{ item.name }}
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>

            <mat-card-footer>
                <button type="button" mat-raised-button color="primary" [routerLink]="['/settings','create-taxes']">Add</button>
            </mat-card-footer>
        </mat-card>

    </ng-template>
</MyDrawer>
