<ActionBar class="action-bar" width="100%">
    <GridLayout columns="auto,*,auto" rows="*" width="100%">
        <Button row="0" col="0" class="button" height="50" width="50" textAlignment="center" text="&#xf0c9;" fontFamily="FontAwesome"
            (tap)="onDrawerButtonTap()">
        </Button>
        <Label row="0" col="1" class="action-bar-title" fontWeight="400" text="Taxes" horizontalAlignment="left"></Label>

        <!--<Button class="button" row="0" col="2" textAlignment="center" text="Save">-->
        <!--</Button>-->
    </GridLayout>
</ActionBar>


<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
        Use the tkDrawerContent directive to display the content of the app drawer on this page.
        -->
    <StackLayout tkDrawerContent>
        <MyDrawer [pages]="navItemObj$ | async"></MyDrawer>
    </StackLayout>

    <GridLayout tkMainContent>
        <StackLayout margin="5">
            <CardView class="gen-card-style" elevation="3" radius="1">
                <GridLayout rows="auto, *" padding="0 15">

                    <ListView row="1" [items]="taxList$ | async" class="">
                        <ng-template let-item="item" let-i="index">
                            <StackLayout [nsRouterLink]="['/create-taxes', item.uniqueName]">
                                <Label class="gen-label-style gen-font-style" verticalAlignment="bottom" text="{{ item.name }}" textWrap="true"></Label>
                            </StackLayout>
                        </ng-template>
                    </ListView>

                    <Label text="No Data Avilable" row="1" [visibility]="(taxList$ | async)?.length === 0 ? 'visible' : 'collapsed'" textWrap="true"
                        verticalAlignment="center" horizontalAlignment="center"></Label>


                    <!-- <FAB row="1" icon="~/assets/image/ic_add_white.png" backgroundColor="#514FA1" rippleColor="#ff4081" class="fab-button" (tap)="createCurrencies()"></FAB> -->
                    <FAB row="1" backgroundColor="#514FA1" rippleColor="#ff4081" class="fab-button" style="height: 50;width: 50;margin: 15;
                    vertical-align: bottom;" (tap)="createCurrencies()"></FAB>
                </GridLayout>
            </CardView>
        </StackLayout>
    </GridLayout>

</RadSideDrawer>
