<GridLayout class="login" rows="*" columns="*">
  <GridLayout rows="* ,auto" columns="*">

    <StackLayout row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" height="12%" stretch="aspectFit" horizontalAlignment="center"></Image>

      <StackLayout class="form" [formGroup]="twoWayOthForm">

        <StackLayout>
          <TextField hint="Otp" class="input" formControlName="otp"></TextField>
          <Label text=" We have sent an OTP to your registered mobile number. "></Label>
          <!-- <Button text="Submit" [disabled]="twoWayOthForm.invalid" (tap)="verifyTwoWayCode()" class="btn btn-primary"></Button> -->
          <MyButton [text]="'Submit'" [isEnabled]="twoWayOthForm.valid" [lodder]='isTwoWayAuthInProcess$ | async' (tap)="verifyTwoWayCode()"
            [class]="'btn btn-primary'">
          </MyButton>
        </StackLayout>

      </StackLayout>
    </StackLayout>

  </GridLayout>
</GridLayout>
