<ScrollView>
  <StackLayout margin="10">

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">

        <Label color="#59595B" text="Account Name"></Label>
        <TextField hint="Dummy Name" text="" verticalAlignment="bottom"></TextField>

        <Label color="#59595B" text="Attention to"></Label>
        <TextField hint="wiil be used in invoice" text="" verticalAlignment="bottom"></TextField>

        <StackLayout orientation="horizontal" marginTop="5">
          <StackLayout width="50%">
            <Label color="#59595B" text="Country"></Label>
            <DropDown backroundColor="red" marginTop="15" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>

          <StackLayout width="50%">
            <Label color="#59595B" text="Sac Code"></Label>
            <TextField hint="12345" text="" verticalAlignment="bottom"></TextField>
          </StackLayout>
        </StackLayout>

        <StackLayout orientation="horizontal" marginTop="5">
          <StackLayout width="50%">
            <Label color="#59595B" text="Opening Balance"></Label>
            <TextField hint="1000.00" text="" verticalAlignment="bottom"></TextField>
          </StackLayout>

          <StackLayout width="50%">
            <Label color="#59595B" text="Mobile Number"></Label>
            <TextField hint="98XXXXXXXX" text="" verticalAlignment="bottom"></TextField>
          </StackLayout>
        </StackLayout>

      </StackLayout>
    </CardView>

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">

        <Label color="#59595B" text="Applicable Taxes"></Label>
        <DropDown backroundColor="red" [hint]="'Select Account'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>

        <Label text="Applied Taxes" textWrap="true"></Label>
        <WrapLayout orientation="horizontal">
          <MyChips [text]="'VAT 14%'"></MyChips>
          <MyChips [text]="'GST 12%'"></MyChips>
          <MyChips [text]="'GST 12%'"></MyChips>
        </WrapLayout>

      </StackLayout>
    </CardView>


  </StackLayout>
</ScrollView>
