<GridLayout class="login" rows="*" columns="*">
  <GridLayout rows="* ,auto" columns="*">

    <StackLayout row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" height="12%" stretch="aspectFit" horizontalAlignment="center"></Image>

      <StackLayout class="form" [formGroup]="mobileVerifyForm">

        <StackLayout *ngIf="!(isLoginWithMobileSubmited$ | async)">
          <TextField hint="Mobile No" class="input" formControlName="mobileNumber"></TextField>
          <!-- <Button text="Get Verification Code" [disabled]="mobileVerifyForm.invalid" (tap)="getOtp()" class="btn btn-primary"></Button> -->
          <MyButton [text]="'Get Verification Code'" [isEnabled]="mobileVerifyForm.get('mobileNumber').valid" [lodder]='isLoginWithMobileInProcess$ | async'
            (tap)="getOtp()" [class]="'btn btn-primary'">
          </MyButton>
          <!-- <Button text="Resend" [disabled]="mobileVerifyForm.invalid" (tap)="getOtp()" *ngIf="!(isLoginWithMobileSubmited$ | async)" class="btn btn-primary"></Button> -->
        </StackLayout>

        <StackLayout *ngIf="(isLoginWithMobileSubmited$ | async)">
          <TextField hint="Otp" class="input" formControlName="otp"></TextField>
          <!-- <Button text="Login" [disabled]="mobileVerifyForm.invalid" (tap)="verifyCode()" class="btn btn-primary"></Button> -->
          <MyButton [text]="'Submit'" [isEnabled]="mobileVerifyForm.valid" [lodder]='isVerifyMobileInProcess$ | async'
            (tap)="verifyCode()" [class]="'btn btn-primary'">
          </MyButton>
        </StackLayout>

        <StackLayout horizontalAlignment="center" orientation="horizontal" marginTop="5">
          <Label text="  Login with Password " class="font" (tap)="backToLogin()" pageTransition="flip"></Label>
        </StackLayout>

      </StackLayout>
    </StackLayout>

    <StackLayout row="1" col="0" class="m-b-60">
      <GridLayout rows="auto" columns="*,auto,*">
        <StackLayout class="hr-light color" col="0"></StackLayout>
        <Label text="or login with" class="p-10 font" col="1"></Label>
        <StackLayout class="hr-light color" col="2"></StackLayout>
      </GridLayout>
      <StackLayout horizontalAlignment="center" orientation="horizontal">
        <Button text="&#xf0d5;" class="fa icon"></Button>
        <!-- <Button text="&#xf0e1;" class="fa icon mar-l-r"></Button>
        <Button text="&#xf099;" class="fa icon"></Button> -->
      </StackLayout>
      <StackLayout horizontalAlignment="center" orientation="horizontal">
        <Label text="google" class="icon-nam p-bottom" col="1"></Label>
        <!-- <Label text="linkenid" class="icon-nam p-bottom mar-l-r-nam" col="1"></Label>
        <Label text="twitter" class="icon-nam p-bottom" col="1"></Label> -->
      </StackLayout>
    </StackLayout>

  </GridLayout>
</GridLayout>
