<GridLayout class="login" rows="*" columns="*">
  <GridLayout rows="* ,auto" columns="*">

    <StackLayout row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" stretch="none" horizontalAlignment="center"></Image>

      <StackLayout class="form" [formGroup]="forgotPasswordForm">

        <StackLayout *ngIf="!(isForgotPasswordSuccess$ | async)">
          <TextField hint="Email Id" formControlName="uniqueKey" class="input"></TextField>
        </StackLayout>

        <StackLayout *ngIf="isForgotPasswordSuccess$ | async">
          <TextField hint="Otp" class="input" formControlName="verificationCode"></TextField>
          <TextField hint="Password" formControlName="newPassword" secure="true" class="input"></TextField>
          <TextField hint="Confirm Password" formControlName="confirmPassword" secure="true" class="input"></TextField>
        </StackLayout>

        <StackLayout *ngIf="!(isForgotPasswordSuccess$ | async)">
          <!-- <Button text="Submit" class="btn btn-primary" (tap)="forgotPassword()" [isEnabled]="forgotPasswordForm.get('uniqueKey').valid"></Button> -->
          <MyButton [text]="'Submit'" [isEnabled]="forgotPasswordForm.get('uniqueKey').valid" [lodder]='isForgotPasswordInProcess$ | async'
            (tap)="forgotPassword()" [class]="'btn btn-primary'">
          </MyButton>
        </StackLayout>

        <StackLayout *ngIf="isForgotPasswordSuccess$ | async">
          <!-- <Button text="Reset Password" class="btn btn-primary" (tap)="resetPassword()" [isEnabled]="forgotPasswordForm.valid"></Button> -->
          <MyButton [text]="'Reset Password'" [isEnabled]="forgotPasswordForm.valid" [lodder]='isResetPasswordInProcess$ | async' (tap)="resetPassword()"
            [class]="'btn btn-primary'">
          </MyButton>
        </StackLayout>

      </StackLayout>

    </StackLayout>

  </GridLayout>
</GridLayout>
