<div class="center">
    <img class="logo" src="assets/image/logo.png">

    <div class="form">

        <form name="login" action="#" [formGroup]="forgotPasswordForm">
            <div *ngIf="!(isForgotPasswordSuccess$ | async)">
                <input type="text" class="uname" formControlName="uniqueKey" placeholder="Email Id">
                <input class="btn" type="button" [disabled]="forgotPasswordForm.get('uniqueKey').invalid" (click)="forgotPassword()" name="submit"
                    value="Submit" [ladda]='isForgotPasswordInProcess$ | async'>
            </div>

            <div *ngIf="isForgotPasswordSuccess$ | async">
                <input type="text" name="text" formControlName="verificationCode" class="pass" placeholder="Otp">
                <input type="password" name="newPassword" formControlName="newPassword" class="pass" placeholder="Password">
                <input type="password" name="confirmPassword" formControlName="confirmPassword" class="pass" placeholder="Confirm Password">
                <input class="btn" type="button" [disabled]="forgotPasswordForm.invalid" name="submit" [ladda]='isResetPasswordInProcess$ | async'
                    (click)="resetPassword()" value="Reset Password">
            </div>
        </form>

        <div class="helperlinks">
            <ul class="helperlinks">
                <li>
                    <a [routerLink]="['forgot-password']">Forgot Password</a> |
                    <a [routerLink]="['login-with-otp']">Login with OTP</a>
                </li>
                <li>
                    <a [routerLink]="['login-with-email']">Login with Email</a>
                </li>
                <li>
                    <a [routerLink]="['signup']">Sign UP</a>
                </li>
            </ul>
        </div>

    </div>
    <span>&nbsp;&nbsp;or login with&nbsp;&nbsp;</span>

    <div class="helperlinks">
        <ul class="helperlinks">
            <li>
                <a [routerLink]="['forgot-password']">Forgot Password</a> |
                <a [routerLink]="['login-with-otp']">Login with OTP</a>
            </li>
            <li>
                <a [routerLink]="['login-with-email']">Login with Email</a>
            </li>
            <li>
                <a [routerLink]="['signup']">Sign UP</a>
            </li>
        </ul>
    </div>
</div>
