<ActionBar class="action-bar" width="100%">
  <GridLayout columns="auto,*,auto" rows="*" width="100%">
    <Button row="0" col="0" class="button" height="50" width="50" textAlignment="center" text="&#xf0c9;" fontFamily="FontAwesome"
      (tap)="onDrawerButtonTap()">
    </Button>
    <Label row="0" col="1" class="action-bar-title" text="Company Profile" horizontalAlignment="center"></Label>

    <Button class="button" row="0" col="2" textAlignment="center" text="Save" (tap)="submit()">
    </Button>
  </GridLayout>
</ActionBar>


<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
  <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
  <StackLayout tkDrawerContent>
    <MyDrawer [pages]="navItemObj$ | async"></MyDrawer>
  </StackLayout>

  <ScrollView tkMainContent>
    <StackLayout margin="5" [formGroup]="companyProfileForm">

      <CardView class="gen-card-style" elevation="3" radius="1">
        <StackLayout margin="7" padding="7">

          <Label class="gen-font-style" text="Company Name"></Label>
          <TextField hint="Test1234" text="" formControlName="name"></TextField>

          <StackLayout marginTop="5">
            <Label class="gen-font-style" text="Email Address" textWrap="true"></Label>
            <TextField hint="dummy@gmail.com" text="" formControlName="email"></TextField>
          </StackLayout>

          <StackLayout orientation="horizontal" marginTop="5">
            <StackLayout width="50%">
              <Label class="gen-font-style" text="Mobile Number"></Label>
              <TextField hint="+91 98xxxxxxxx" text="" formControlName="contactNo"></TextField>
            </StackLayout>

            <StackLayout width="50%">
              <Label class="gen-font-style" text="Pan Number"></Label>
              <TextField hint="ABCDE0011A" text="" formControlName="panNumber"></TextField>
            </StackLayout>
          </StackLayout>

          <StackLayout orientation="horizontal" marginTop="5">
            <StackLayout width="50%">
              <Label class="gen-font-style" text="Country"></Label>
              <TextField hint="Select" text="" formControlName="country"></TextField>
              <!-- <DropDown backroundColor="red" marginTop="15" [hint]="'Select'" formControlName="country" verticalAlignment="bottom"
              [items]='countrySource'></DropDown> -->
            </StackLayout>

            <StackLayout width="50%">
              <Label class="gen-font-style" text="State"></Label>
              <DropDown backroundColor="red" marginTop="15" formControlName="state" [hint]="'Select'" verticalAlignment="bottom" [items]='stateSource'></DropDown>
            </StackLayout>
          </StackLayout>

          <StackLayout orientation="horizontal" marginTop="5">
            <StackLayout width="50%">
              <Label class="gen-font-style" text="City"></Label>
              <TextField hint="Select" text="" formControlName="city"></TextField>
              <!-- <DropDown backroundColor="red" formControlName="city" marginTop="15" [hint]="'Select'" verticalAlignment="bottom" [items]='[1,2,3,4]'></DropDown> -->
            </StackLayout>

            <StackLayout width="50%">
              <Label class="gen-font-style" text="Pincode"></Label>
              <TextField hint="452010" formControlName="pincode" text=""></TextField>
            </StackLayout>
          </StackLayout>

          <StackLayout marginTop="5">
            <Label class="gen-font-style" text="Postal Address" textWrap="true"></Label>
            <TextField hint="Dummy Address" formControlName="address" text=""></TextField>
          </StackLayout>

          <StackLayout orientation="horizontal" marginTop="5">
            <StackLayout width="50%">
              <Label class="gen-font-style" text="Currency"></Label>
              <!--<TextField hint="currency" formControlName="baseCurrency" [text]=""></TextField>-->

              <DropDown backroundColor="red" formControlName="baseCurrency" marginTop="15" [hint]="'Select'" verticalAlignment="bottom"
                [items]='currenciesSource'></DropDown>
            </StackLayout>

            <StackLayout width="50%" verticalAlignment="bottom">
              <CheckBox #elem text="Multicurrency?" [checked]="companyProfileForm.get('isMultipleCurrency').value" (checkedChange)="elem.checked === !elem.checked; isMultipleCurrencyStatusChanged(elem.checked)"></CheckBox>
            </StackLayout>
          </StackLayout>

        </StackLayout>
      </CardView>

    </StackLayout>
  </ScrollView>

</RadSideDrawer>
