<MyDrawer #myDrawer [pages]="navItemObj$ | async">
    <ng-template #optionTemplate>
        <my-header [title]="'Create Taxes'"
        [leftSideItem]="{ icon:'menu', action: toggleDrawer.bind(this) }"
         [rightSideItem]="{ title: 'Save', action: submit.bind(this) }"></my-header>

        <mat-card>
            <mat-card-content>
                <form [formGroup]="taxForm" (submit)="submit()" class="form">

                    <mat-form-field class="full-width">
                        <input matInput formControlName="name" placeholder="Tax Name">
                    </mat-form-field>

                    <mat-form-field class="full-width" *ngIf="!selectedTaxObj">
                        <input matInput formControlName="taxNumber" placeholder="Unique No">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-select formControlName="taxType" (selectionChange)="taxTypeChanged(taxForm.get('taxType').value)">
                            <mat-option [value]="tType.value" *ngFor="let tType of taxTypeList">{{ tType.display }}</mat-option>
                        </mat-select>
                    </mat-form-field>



                    <div class="full-width">
                        <ng-container *ngIf="!selectedTaxObj && showLinkedAccounts">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="account" (selectionChange)="accountChanged(taxForm.get('account').value)">
                                    <mat-option *ngFor="let aType of (flattenAccountsStream$ | async)" [value]="aType.uniqueName">{{ aType.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="selectedTaxObj && showLinkedAccounts">
                            <mat-chip-list>
                                <mat-chip *ngFor="let acc of taxForm.get('accounts').value">
                                    {{ acc.name }}
                                </mat-chip>
                            </mat-chip-list>

                        </ng-container>
                    </div>

                    <div class="half-width-container">
                        <mat-form-field class="half-width">
                            <input matInput formControlName="taxValue" placeholder="Tax Rate">
                        </mat-form-field>

                        <mat-form-field class="half-width">
                            <input matInput [matDatepicker]="picker" formControlName="taxFileDate" placeholder="Apply Tax From">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="half-width-container">
                        <mat-form-field class="half-width">
                            <mat-select formControlName="duration">
                                <mat-option *ngFor="let dType of taxDurationList" [value]="dType.value">{{ dType.display }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="half-width">
                            <mat-select formControlName="taxFileDate">
                                <mat-option *ngFor="let day of days" [value]="day.value">{{ day.display }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </form>
            </mat-card-content>

            <mat-card-footer>
                <button type="submit" mat-raised-button color="primary" (click)="submit()" [disabled]="taxForm.invalid" [ladda]="(isCreateTaxInProcess$ | async) || (isUpdateTaxInProcess$ | async)">Submit</button>
            </mat-card-footer>
        </mat-card>

    </ng-template>
</MyDrawer>
