<div class="card container">

    <div class="card-block">

        <form [formGroup]="taxForm" (submit)="submit()">

            <div class="form-group">
                <label>Tax Name</label>
                <input type="password" class="form-control" formControlName="name" placeholder="Name">
            </div>

            <div class="form-group" *ngIf="!selectedTaxObj">
                <label>Unique No</label>
                <input type="password" class="form-control" formControlName="taxNumber" placeholder="Unique Number">
            </div>

            <div class="form-group">
                <label>Tax Type</label>
                <select name="taxType" id="taxType" class="form-control" formControlName="taxType" (change)="taxTypeChanged(taxForm.get('taxType').value)">
                    <option *ngFor="let tType of taxTypeList" [value]="tType.value">{{ tType.display }}</option>
                </select>
            </div>

            <div class="form-group">
                <ng-template *ngIf="!selectedTaxObj && showLinkedAccounts">
                    <label>Linked Account</label>
                    <select name="account" id="account" class="form-control" formControlName="account" (change)="accountChanged(taxForm.get('account').value)">
                        <option *ngFor="let aType of (flattenAccountsStream$ | async)" [value]="aType.uniqueName">{{ aType.name }}</option>
                    </select>
                </ng-template>

                <ng-template *ngIf="selectedTaxObj && showLinkedAccounts">
                    <span class="badge badge-default" *ngFor="let acc of taxForm.get('accounts').value">
                        {{ acc.name }}
                    </span>
                </ng-template>
            </div>

            <div class="row">

                <div class="col col-xs-6">
                    <div class="form-group">
                        <label>Tax Rate</label>
                        <input type="text" class="form-control" formControlName="taxValue" placeholder="in percentage">
                    </div>
                </div>

                <div class="col col-xs-6">
                    <label>Apply Tax From</label>
                    <!-- <select name="taxFileDate" id="taxFileDate" class="form-control" formControlName="taxFileDate">
                        <option *ngFor="let day of days" [value]="day.value">{{ day.display }}</option>
                    </select> -->
                </div>
            </div>

            <div class="row">

                <div class="col col-xs-6">
                    <div class="form-group">
                        <label>Tax Duration</label>
                        <select name="duration" id="duration" class="form-control" formControlName="duration">
                            <option *ngFor="let dType of taxDurationList" [value]="dType.value">{{ dType.display }}</option>
                        </select>
                    </div>
                </div>

                <div class="col col-xs-6">
                    <label>Tax File Date</label>
                    <select name="taxFileDate" id="taxFileDate" class="form-control" formControlName="taxFileDate">
                        <option *ngFor="let day of days" [value]="day.value">{{ day.display }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col col-xs-6 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="taxForm.invalid">Submit</button>
                </div>
            </div>

        </form>

    </div>

</div>
