<MyDrawer #myDrawer [pages]="navItemObj$ | async">
    <ng-template #optionTemplate>
        <my-header [title]="'Currencies'"
        [leftSideItem]="{ icon:'menu', action: toggleDrawer.bind(this) }"></my-header>
        <div class="card">
            <div class="card-block">
                <ul class="list-group">
                    <li *ngFor="let item of (currenciesStream$ | async)" class="list-group-item">
                        <p class="card-text">{{ item }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>
</MyDrawer>
