@import "~ngx-toastr/toastr";
@import "~ladda/css/ladda";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 40px;
}
