// Custom common variables
@import '../../../scss/variables';
.btn {
  background-color: rgb(154, 214, 208);
  color: rgb(40, 40, 90);
  margin: 0;
}

.fa-spin {
  animation-name: faspin;
  animation-duration: 1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes faspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
