<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<!-- <Button class="view" textWrap="true" row="0" col="0" [disabled]="disabled" (tap)="taped()">
  <FormattedString>
    <Span [text]="'&#xf110;'" fontFamily="FontAwesome" dock="left" *ngIf='lodder' class="fa  fa-spin"></Span>
    <Span [text]="text" dock="right" *ngIf='true'></Span>
  </FormattedString>
</Button> -->

<GridLayout columns="*" horizontalAlignment="center" class="sidedrawer-list-item" height="40" [ngClass]="class" [isEnabled]="isEnabled"
  (tap)="taped()">
  <StackLayout horizontalAlignment="center" orientation="horizontal" verticalAlignment="center" height="40">
    <Label [text]="'&#xf110;'" *ngIf="lodder" fontFamily="FontAwesome" class="fa fa-spin" orientation="horizontal" verticalAlignment="center"></Label>
    <Label [text]="text" class="" fontSize="15" orientation="horizontal" verticalAlignment="center"></Label>
  </StackLayout>
</GridLayout>
