<ul class="list-group">
    <li class="list-group-item">
        <a class="btn btn-primary" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" [routerLink]="['/sale']">Sales Invoice</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" [routerLink]="['/reports']">Reports</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" [routerLink]="['/settings']">Settings</a>
    </li>
</ul>
<button class="btn btn-danger" (click)="logout()">Logout</button>
