<my-header [title]="activeCompany.name"
[rightSideItem]="{ title: userName, action: logout }"></my-header>
<mat-list role="list">
    <mat-list-item role="listitem">
        <a matLine>Dashboard </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <a matLine>Sales Invoice </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <a matLine>Reports </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <a matLine>Settings </a>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<button mat-raised-button color="warn" (click)="logout()">Logout</button>
