// Custom common variables
@import '../../../scss/variables';

$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;


// Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;

.sidedrawer {
    .sidedrawer-content {
        background-color: $side-drawer-background;
    }
}


.sidedrawer-list-item {
  padding-left: $sidedrawer-list-item-offset-left;
  Label {
    vertical-align: center;
    color: $ab-background;
    font-family: 'HELR45W';
    font-size: 16;
  }
  .icon {
    width: $sidedrawer-list-icon-size;
    margin-right: $sidedrawer-list-icon-offset;
  }
  &.selected {
    background-color: #f6ebf4;
    Label {
      color: $ab-background;
    }
  }
}
